body {
    background-color: #eef7fb;
    font-family: Arial, Helvetica, sans-serif;
}

.user_card {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

button {
    background-color: #226eef;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #2c78f9;
}

input {
    outline: none;
    border: 1px solid #70a3fc;
    box-shadow: 0px 0px 5px 0px #70a3fc;
    margin-right: 10px;
    font-size: 1rem;
}

input:focus {
    border: 1px solid #2c78f9;
    box-shadow: 0px 0px 5px 0px #2c78f9;
}